{% block header_container_content %}
  <div class="header__content">
    <div class="container">
      <div class="grid">
        <div class="grid__col grid__col--1-of-4 header__content-topmenu">
          <ul>
            <!-- Fajar Maulana Putra: I edited these lines to show links to dataset and organisation pages instead of dataset and group pages -->
            {{ h.build_nav_main(
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations'))
            ) }}
            <!-- Fajar Maulana Putra: End -->
          </ul>
        </div>
        <div class="grid__col grid__col--2-of-4 logo-title">
          <img src="/base/images/logo_final_transparentbg.png" alt="Logo">

          <h1></h1>
        </div>
        <div class="grid__col grid__col--1-of-4 header__content-metamenu">
          <ul>
          <!-- Fajar Maulana Putra: I edited these lines to show links to data requests and stats pages instead of about, FAQ, and contact pages -->
             {{ h.build_nav_main(
          ('datarequests_index', _('Data Requests')),
          ('stats', _('Stats'))
        ) }}
        <!-- Fajar Maulana Putra: End -->
          </ul>
        </div>

        <div class="container">
          <div class="grid">
            <div class="grid__col grid__col--4-of-5 grid__col--centered header__content-claim">
              <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
              <div class="search-input control-group search-giant">
                <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ _('Search') }}" />
                <button type="submit" value="search">
                  <i class="icon-search"></i>
                </button>
              </div>
              </form>
                <div class="header__content-tags">
                  <h3>{{ _('Frequently Used Tags:') }}</h3>
                  {% set tags = h.get_facet_items_dict('tags', limit=3) %}
                  <ul>
                  {% for tag in tags %}
                    <li><a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
